<!DOCTYPE html>
<html>
<head>
  <title>Timezoner</title>
  <%= stylesheet_link_tag    "timezoner/application", media: "all" %>
  <%= javascript_include_tag "timezoner/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
